* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 20px;
	margin: 0;
	background-color: #white;
}

/*************************************** NAV ****************************************/

.nav {
	font-weight: lighter;
	font-family: sans-serif;
	color: #666;
}

.nav-container-front{
	width: 980px;
	height: 140px;
	background-color: transparent;;
	position: relative;
	z-index: 1;
	margin: auto;
}

.nav-container-back{
	width: 100%;
	height: 140px;
	position: absolute;
	top: 0px;
	background-color: transparent;;
}

.nav-top-left {
	width: 50%;
	height: 50%;
	position: absolute;
	top: 0;
}

span.top-left {
   margin-left: 20px;
   font-size: 16px;
   position: absolute;
   top: 70%;
   transform: translate(0, -50%);
}

.nav-top-right {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 50%;
	text-align: right;
}

.top-right {
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
	padding-right: 20px;
}

.nav-bottom-left {
	width: 50%;
	height: 50%;
	position: absolute;
	top: 50%;
}

span.bottom-left {
	margin-left: 20px;
	font-size: 24px;
	font-family: sans-serif;
	color: black;
	position: absolute;
	top: 30%;
}

.nav-bottom-right {
	width: 50%;
	height: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: right;
	transform: translate(0%, +10%);
}

.nav-middle {
	border-bottom: 1px solid #eee;
	width: 100%;
	margin: auto;
	z-index: 2;
	position: relative;
	top: 50%;
}

.nav-li{
	list-style: none;
	display: inline;
	padding-left:20px;
	padding-right:20px;
	font-size: 16px;
	color: black;
	font-style: lighter;
}

a {
	text-decoration: none;
	color: inherit;
}

a.nav-li:hover {
	text-decoration: underline;
}
button {
	cursor: pointer;
	cursor: hand;
	border: none;
	width: auto;
	height: 20px;
	border-radius: 5px;
	outline: none;
}

button.github {
	background-color: skyblue;
}

button.hackerrank {
	background-color: #4dff4d;

}

/*************************************** DIV 1 ****************************************/

.div1-container {

}

.div1-container-front {
	width: 980px;
	height: 720px;
	position: relative;
	margin: auto;
	background-color: black;
}

.div1-front-right {
	position: relative;
	background-color: black;
	height: inherit;
	width: 50%;
	left: 50%;
	z-index: 2;
	padding: 20px;
}

.div1-container-back {
	height: 720px;
	position: absolute;
	top: 140px;
	width: 100%;
	background-color: black;
}

.div1-back-left {
	width: 50%;
	position: absolute;
	height: 720px;
	background-position: right;
	background-image: url("../img/people_working.jpg");
	z-index: 1;
}

.div1-back-right {

}

.main-text {
	margin: auto;
	text-align: center;
	color: white;
	font-family: sans-serif;
	font-weight: lighter;
	line-height: 1.55em;
	position: relative;
	top: 50%;
	transform: translate( 0%, -50%);

}

h5 {
	font: normal normal normal 56px/1.25em sans-serif;
	margin: 0;
}

/*************************************** DIV 2 ****************************************/

.div2-container {
	font-family: sans-serif;
}

.div2-container-front {

}

.div2-container-back {
	background-image: url("../img/ocean.jpg");
	width: 100%;
	height: 700px;
	overflow: visible;
}

/*************************************** DIV 3 ****************************************/

.div3-container {

}

.div3-container-front {
	width: 980px;
	position: relative;
	margin: auto;
	padding-left: 20px;
	background-color: transparent;;
}

.div3-container-back {
	width: 100%;
}

h2.bio {
	font-size: 32px;
	font-family: sans-serif;;
	line-height: .075em;
}

h4.bio {
	font-family: sans-serif;
	font-weight: lighter;
}

p.bio {

	text-align: left;
	line-height: 1.25em;
	font-size: 16px;
	width: 75%;
	font-family: sans-serif;
	font-weight: lighter;
}

/*************************************** DIV 4 ****************************************/

.div4-container {
	color: white;
	font-family: sans-serif;
	margin-top: 100px;
}

.div4-container-front {
	width: 980px;
	margin: auto;
	position: relative;
	background-color: transparent;
	height: 200px;
}

.div4-container-back {
	width: 100%;
	background-color: black;
	height: 200px;
	position: absolute;
}

.cv-head, .cv-subhead {
	text-align: center;
	height: 50px;

}

.cv-head {
	margin-top: 50px;
}

/*************************************** DIV 5 ****************************************/
